.random-planet {
    margin: 1rem 0;
}
.planet-img-wrap {
    width: 30%;
    margin-right: 15px;
    display: flex;
    align-items: center;
}
.planet-info-wrap {
    width: 70%;
}
.planet-img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}