body {
    background-color: #222;
    color: #fff;
}

.app {
    max-width: 700px;
    margin: 50px auto 0;
}
.list-group-item {
    background-color: #444;
}

.panel {
    display: flex;
    padding: 1rem;
    background: #333;
    border-radius: 10px;
}
.details-wrap {
    display: flex;
    align-items: flex-start;
}